/* ====================================
	 Common
	 ==================================== */

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 1rem;
	background: url("../Images/bg-white-tex.jpg");
}

.page-container {
	width: 100%;
	min-height: 100vh;
	position: relative;
}

.content-wrap {
	width: inherit;
}



/* ----------------
	 Footer
	 ---------------- */
footer {
	width: inherit;
	position: absolute;
	bottom: 0;
	padding: 4rem 1rem;
	font-family: 'Lato', sans-serif;
	background: #34495e;
	color: white;
}

.foot-content {
	margin-bottom: 2.5rem;
}

.foot-content h4 {
	margin-bottom: 1.5rem;
}

.foot-content p {
	margin-bottom: 0.75rem;
}

.foot-content a {
	transition: all 0.5s ease;
}


.social-link {
	margin-right: 0.625rem;
	color: white;
}

.social-link:last-of-type {
	margin: 0;
}


#fb_button:hover {
	color: #0084ff;
}

#twitter_button:hover {
	color: #55acee;
}

#youtube_button:hover {
	color: #cd201f;
}

#instagram_button:hover {
	color: #e4405f;
}


.links ul {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
}

.links ul li {
	margin: 1rem;
}

.links ul li a {
	text-decoration: none;
	color: darkgray;
	transition: all 0.5s ease;
}

.links ul li a:hover,
.links ul li a:active {
	color: white;
}


footer .row:last-of-type {
	margin-top: 1.5rem;
	color: gray;
}

footer .row:last-of-type span {
	margin: auto;
}




/* ====================================
	 Home page (index.php)
	 ==================================== */

/* ----------------
	 Main Banner
	 ---------------- */
.banner {
	width: 100%;
	height: 100vh;
	position: relative;
	background: linear-gradient(
		to bottom,
		rgba(0,0,0,0.7) 0%,
		rgba(0,0,0,0.7) 100%),
		url("thali.jpg");
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
	color:white;
}

.banner-content {
	width: inherit;
	position: absolute;
	top: 50%;
	left: 50%;
	padding-bottom: 5rem;
	transform: translate(-50%, -50%);
}

.banner-content h1 {
	margin: 0 0 2.5rem 0;
	font-family: "Amatic SC", cursive !important;
	font-size: 9rem;
	color: white;
}

.banner-content h2 {
	margin: 2.5rem 0 5rem 0;
	font-size: 2.5rem;
	line-height: 5rem;
}

.banner-content h3 {
	margin-bottom: 2rem;
	font-family: 'Comfortaa', cursive;
	font-size: 1.5rem;
}

.banner-content button {
	margin: 0 1.25rem;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.5rem;
}

#scroll-down {
	width: 2.5rem;
	height: 2.5rem;
	position: absolute;
	bottom: 2.5rem;
	left: 50%;
	transform: translateX(-50%);
	background: url("../Images/scroll-arrow.gif");
	background-size: cover;
	cursor: pointer;
}



.headings {
	padding: 1.25rem;
	font-family: 'Acme', sans-serif;
	font-size: 2rem;
	background-color: lightgray;
}

.headings i {
	margin-right: 1rem;
}



/* ----------------
	 Locality
	 ---------------- */
.cities {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 3rem auto;
}

.city {
	height: 3rem;
	margin: 0.25rem;
	padding: 0.5rem 1rem;
	box-sizing: border-box;
	border: 1px solid coral;
	border-radius: 2rem;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.125rem;
	font-weight: 700;
	background-color: ivory;
	color: coral;
	cursor: pointer;
	transition: all 0.25s ease;
}

.city:hover,
.city:active {
	border: 1px solid darkslategray;
	text-decoration: none;
	color: darkslategray;
}

.city span {
	line-height: normal;
}



/* ----------------
	 Cuisine
	 ---------------- */
.cuisines {
	margin: 3rem auto;
}

.cuisines > div {
	padding: 15px;
}

.cuisines a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Comfortaa', cursive;
	color: darkslategrey;
	transition: all 0.25s ease;
}

.cuisines a:hover,
.cuisines a:active {
	transform: scale(1.025);
}

.cuisines .card {
	border-radius: 0.5rem;
}

.cuisines .card-image-top {
	width: 100%;
	padding-bottom: 66%;
	border-radius: 0.5rem 0.5rem 0 0;
}

.cuisines h5 {
	margin: 0;
	font-weight: 700;
}




/* ====================================
	 Result page (result2.php)
	 ==================================== */

/* ----------------
	 Navbar
	 ---------------- */
.navbar-brand {
	margin-right: 2rem;
	padding: 0.5rem 1.25rem;
	border-radius: 1.8rem;
	font-family: 'Acme', sans-serif;
	font-size: 1.75rem;
	line-height: 1.5;
	background: darkorange;
	color: white !important;
}

.navbar-collapse {
	justify-content: space-between;
}

.navbar-nav > * {
	margin: 0.5rem;
	font-family: 'comfortaa', cursive;
}

.navbar-nav {
	margin: 0 1rem;
}

.navbar-nav li {
	font-size: 1.25rem;
}


.dropdown-menu {
	text-align: center;
}

.dropdown-menu ul {
	min-width: 12rem !important;
	padding: 0;
	list-style: none;
}

.dropdown-menu li {
	padding: 0.5rem 1rem;
	font-size: 1rem;
}

.dropdown-menu li a {
	text-decoration: none;
	color: dimgray;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:active {
	color: black;
}


.nav-greet {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

nav button {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700 !important;
}



/* ----------------
	 Search Bar
	 ---------------- */
.search-bar {
	margin: 2rem auto;
	padding: 1rem 3rem;
	border-radius: 0.5rem;
	font-family: 'Lato', sans-serif;
	background-color: rgba(211, 211, 211, 0.5);
}



/* ----------------
	 Result List
	 ---------------- */
.result-list {
	display: flex;
	flex-direction: column;
	margin: 2rem auto;
}

.result-item {
	margin-bottom: 2rem;
	padding: 2rem;
	border: 1px solid lightgrey;
	border-radius: 0.5rem;
	font-family: 'Lato', sans-serif;
	background: repeating-linear-gradient(
  	-45deg,
  aliceblue,
  aliceblue 10px,
  white 10px,
  white 20px
	);
}

.result-item:last-of-type {
	margin-bottom: 0;
}

.result-item > div:nth-of-type(1),
.result-item > div:nth-of-type(2),
.result-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.result-item i {
	color: gray;
}

.result-img {
	margin: 0.5rem 0;
}

.result-info > * {
	margin: 0.25rem 0;
}

.result-info > p:first-child {
	margin-top: 0.5rem;
	font-weight: 700;
}

.result-info > p:last-child {
	margin-bottom: 0.5rem;
}

.result-info i {
	margin-right: 1rem;
}

.result-action {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.result-quote,
.result-buttons {
	margin: 0.5rem 0;
}

.result-quote > * {
	display: block;
}

.result-quote > i:first-of-type {
	text-align: left;
}

.result-quote > p {
	margin: 0;
	padding: 0.5rem 1.5rem;
	font-size: 1rem;
	font-style: italic;
	text-align: center;
}

.result-quote > i:last-of-type {
	text-align: right;
}

.result-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.result-buttons button {
	font-family: 'Titillium Web', sans-serif;
	font-size: 0.9rem;
	font-weight: 700 !important;
}

.result-none {
	padding: 2rem;
	border: 1px solid lightgrey;
	border-radius: 0.5rem;
	background: white;
}

.result-none p {
	width: 100%;
	margin: 0;
	font-size: 1.2rem;
	text-align: center;
	color: dimgray;
}




/*.icon-bar{
	color:;
}
.cuisine-box{
	height: auto;
	margin-bottom: 50px;
}

.img-cuisine{
	height:250px;
	width: 100%;
	border-color: black;
	-webkit-transition-duration: 0.2s;
}

.img-cuisine:hover{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	overflow: hidden;
}

.desc-cuisine{
	margin-top:20px;
}

.foot{
	color:white;
	background-color: #34495e;
	padding-bottom: 20px;
}

.search-area{
	border-radius:200px;
	width: 300px !important;
}

#up-nav{
	height: auto !important;
	background-color: white;
	border-top: none;
	border-left:none;
	border-right: none;
	border-color: #ff8000;
	-webkit-transition:all 0.5s;
}

.toggle-button
{
	margin-top:30px;
}

.heading > h2{
	margin-left: 10px;
	margin-top: -3px;
	color:white;
	font-size: 40px !important;
	font-family: 'Orbitron', sans-serif;
	background-color: #ff8000;
	padding: 12px;
	border-radius:50px;
}

.logo_heading{
	margin-top: 18px;
	margin-left: 1vw;
}

.menu_list{
	margin-right: 10px;
	margin-top: 0px;
	font-size:25px;
}

.menu_list > li > a{
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	color: #ff8000 !important;
	padding-bottom: 30px;
	border-radius:10px;
	margin-right:5px;
}

.menu_list > li > a:hover,
.menu_list > li > a:active,
.dropdown > a:focus,
.dropdown > a:hover,
.dropdwon > a:active
{
	color: white !important; 
	-webkit-animation-name: appear;
	-webkit-animation-duration: 0.30s; 
	-webkit-animation-fill-mode: forwards;
}

.dropdown-menu > li > a{
	background-color: white;
	color: #ff8000;
	font-size:20px;
	padding:10px;
}

.dropdown-menu > li > a:hover{
	color: white;
	-webkit-animation-name: appear;
	-webkit-animation-duration: 0.30s; 
	-webkit-animation-fill-mode: forwards;
}

.menu_list >.active_now > a{
	background-color: white !important;
	color: #ff8000;
}


@-webkit-keyframes appear {
    from {background-color: transparent;}
    to {background-color: #ff8000;}	
}

.sm_button{
	margin-right:10px;
	color: white;
}

.search-it{
	margin-top: 30px;
	margin-left:18%;
	border:none;
}

.foot-content{
	/*margin-top: 10px;
	margin-bottom:20px;
}

.search-btn{
	border-radius:50%;
	background-color: #ff8000;
	border-color:#ff7000;
}

.search-btn:hover{
	background-color: #ff7000;
	border-color:#ff7000; 
}

.result-list{
	margin-top: 150px !important;
	margin-bottom: 250px;
}

.result-list-reviews{
	margin-top: 120px !important;
	margin-bottom: 250px;
}

.result-item{
	background-color: white;
	border-radius:15px;
	padding-top:15px;
	padding-bottom:15px;
	margin-bottom: 50px;
	font-family: 'Questrial', sans-serif;
}

.rest-img{
	width:100%;
	height:250px;
	border:1px solid #e6e6e6;
}

.rest-name{
	font-size:25px;
}

.rest-addr{
	font-size:20px;
	color:#737373;
}

.rest-desc{
	font-size:20px;
	color:#737373;
	font-family: 'Domine', serif;
}

#result_bg{
	background: url('result_back3.jpg');
}

#rest-log-bag{
	background:linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url(result_back3.jpg) no-repeat center center fixed;
	background-size: cover;
	color:white;
}

#rest-logo{
	color: white;
	background-color: #ff8000;
	margin-bottom: 25px;
	font-size: 60px;
	width:350px;
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px; 
	border-radius: 1000px;
}

.box{
	background-color:rgba(0,0,0,0.5);
	height: auto;
	padding: 20px;
	border-radius:10px;
}

.rest-log-sign-wrapper{
	margin-top:50px;
}

.rest-ls-btn{
	background-color: #ff8000;
	transition: 0.3s all;
}

.rest-ls-btn:hover{
	color:white;
	background-color: #ff6000;
}

.rest-submit-grp{
	margin-top: 30px;
}

.rest-review{
	margin-right:20px;
}

.navbar-reg{
	margin-top:27px;
}

.navbar-reg > button{
	color: #ff8000;
	border-color:#ff8000;
	transition: 0.3s all;
	font-weight: bold;
	margin-right:10px;
	font-size: 17px;
}

.navbar-reg > button:hover,
.navbar-reg > button:focus,
.navbar-reg > button:active{
	color: white;
	border-color:white;
	background-color:#ff8000;
	font-weight: bold;
}

.navbar-greet{
	color: #ff8000;
	font-size: 20px;
	margin-top:30px;
	margin-right:30px !important;
}

.menu-table{
	margin-top: 5%;
}

.cust-name-review{
	font-style:italic;
	color:#b3b3b3;
}

.review-wrapper{
	border-bottom:1px solid #e6e6e6;
}

.review-btn{
	margin-top:20px !important;
}*/

